.container{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    gap: 300px;
    

    &_contacts{
       

       &_con{
        text-decoration: none;
        color: white;
       }
    }

    &_data{
        //display: block;
    }

    &_socials{
        //flex-direction: column;
    }
}
