.container{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 50px;
    
    
    

    &_contacts{
        margin: 0 auto;
        
       &_con{
        text-decoration: none;
        color: white;
       }
    }

    &_data{
        margin: 0 auto;
    }

    &_socials{
        margin: 0 auto;
    }
}
